@model Manager_Wydatkow.Models.User
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="center">
        <h1>Logowanie</h1>       

        @using (Html.BeginForm("Login", "StronaG", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
            <div class="txt_field">
             @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "Username", placeholder = "Username", required = "required", autofocus = "autofocus" })
            <span></span>
            </div>
            <div class="txt_field">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "Password", placeholder = "Password", required = "" })
            <span></span>
            </div>        
            <div class="alert-danger">
            @if (ViewData["LoginFlag"] != null)
            {
                @ViewData["LoginFlag"]
            }
            </div>
            <button class="login" type="submit">Zaloguj się</button>
    }
    </div>

</body>